<html>
<head>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
<div style="flex-direction: row; display: flex; justify-content: center;">
    <canvas id="myChart" width="700" height="300"></canvas>
    <canvas id="vacancyCount" width="700" height="300"></canvas>
</div>
<div style="flex-direction: row; display: flex; justify-content: center;">
    <canvas id="myChartMin" width="700" height="300"></canvas>
</div>
<div id="button_container" style="flex-direction: row; display: flex; justify-content: center; padding: 50px">

</div>
</body>
<script>
    window.onload = function () {

        //запрос для получения  данных для графика кол-ва вакансий
        var requestConfig = {
            method: 'post',
            url: "{{ path('get_api') }}",
            data: {
                jobs: arr
            },
        };

        var result;
        //непосредственно сам запрос
        axios.request(requestConfig)
            .then((data) => {
                result = data.data;
            }).then(() => {

            // ищем элемент с графиком на странице
            var ctx = document.getElementById('vacancyCount');

            // отрисовка графика данными из запроса
            var myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: result.labels,
                    datasets: [{
                        label: 'Кількість вакансій',
                        data: result.values,
                        backgroundColor: [
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1
                    }]
                },

                options: {
                    responsive: false,
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
        })

        var requestConfig = {
            method: 'post',
            url: "{{ path('get_api_salary') }}",
            data: {
                jobs: jobs
            },
        };

        var result;
        axios.request(requestConfig)
            .then((data) => {
                result = data.data;
            }).then(() => {
            var ctx = document.getElementById('myChart');

            var myChart = new Chart(ctx, {
                type: 'bar',
                data:
                    {
                        labels: result.labels,
                        datasets: [{
                            label: 'Зарплати в $',
                            data: result.values,
                            backgroundColor: [
                                'purple',
                                'red',
                                'grey',
                                'blue',
                                'green',
                                'yellow',
                                'pink',
                                'orange',
                                'violet',
                                'black',
                                'aqua',
                                'royalblue',
                                'skyblue',
                                'darkblue',
                                'lime',
                                'steelblue',
                                'silver',
                                'bronze',
                                'crimson',
                                'orchid',
                                'teal',
                                'azure'
                            ],
                            borderColor: [
                                'purple',
                                'red',
                                'grey',
                                'blue',
                                'green',
                                'yellow',
                                'pink',
                                'orange',
                                'violet',
                                'black',
                                'aqua',
                                'royalblue',
                                'skyblue',
                                'darkblue',
                                'lime',
                                'steelblue',
                                'silver',
                                'bronze',
                                'crimson',
                                'orchid',
                                'teal',
                                'azure'
                            ],
                            borderWidth: 1
                        }]
                    },

                options: {
                    responsive: false,
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
        })

        var requestConfig = {
            method: 'post',
            url: "{{ path('get_api_min_salary') }}",
            data: {
                jobs: jobs
            },
        };

        var result;
        axios.request(requestConfig)
            .then((data) => {
                result = data.data;
            }).then(() => {
            var ctx = document.getElementById('myChartMin');

            var myChart = new Chart(ctx, {
                type: 'doughnut',
                data: {
                    labels: result.labels,
                    datasets: [{
                        label: 'Зарплаты min max $',
                        data: result.values,
                        backgroundColor: [
                            'purple',
                            'red',
                            'grey',
                            'blue',
                            'green',
                            'yellow',
                            'pink',
                            'orange',
                            'violet',
                            'black',
                            'aqua',
                            'royalblue',
                            'skyblue',
                            'darkblue',
                            'lime',
                            'steelblue',
                            'silver',
                            'bronze',
                            'crimson',
                            'orchid',
                            'teal',
                            'azure'
                        ],
                        borderColor: [
                            'purple',
                            'red',
                            'grey',
                            'blue',
                            'green',
                            'yellow',
                            'pink',
                            'orange',
                            'violet',
                            'black',
                            'aqua',
                            'royalblue',
                            'skyblue',
                            'darkblue',
                            'lime',
                            'steelblue',
                            'silver',
                            'bronze',
                            'crimson',
                            'orchid',
                            'teal',
                            'azure'
                        ],
                        borderWidth: 1
                    }]
                },

                options: {
                    responsive: false,
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
        })

    }


    //Получаем параметры которые пришли с /input
    const urlParams = new URLSearchParams(window.location.search);
    var arr = [];

    // перебираем их так чтобы получился массив

    //в первом случае обрабатывает если данные пришли с инпута
    if (urlParams.get('jobs')) {
        //разбиваем строку с параметрами пофразно с разделителем  - ,
        arr = urlParams.get('jobs').split(',');

        //если данные с инпута пустые берем данные чекбоксов
    } else {
        //получение данных с чекбокса
        for (var value of urlParams.keys()) {
            if (value == 'jobs') {
                continue;
            }
            arr.push(urlParams.get(value));
        }
    }

    const jobs = arr;
    var array = jobs

    //ищем контейнер на странице в котором будем отрисовывать кнопки
    var divBlock = document.getElementById('button_container');
    // проходимя по массиву с названиями вакансий который мы получили на строках 196-214
    for (var i = 0; i < array.length; i++) {

        //создаем тег ссылки
        var a = document.createElement("a");
        //создаем тег кнопки
        var button = document.createElement("button");
        //задаем ссылке URL с названием вакансии
        a.setAttribute('href', '/jobs/' + array[i]);
        //задаем чтобы открывался в нововой странице
        a.setAttribute('target', '_blank');
        //задаем текст внутри кнопки назаванием вакансии которое получили на строках 196-214
        button.textContent = array[i];
        // оборачиваем тегом ссылки кнопку чтобы было что-то вроде <a href="/jobs/название вакансии"><button> название вакансии</button></a>
        a.appendChild(button);
        //добавляем нашу кнопку в наш контейнер с кнопками
        divBlock.appendChild(a);
    }


</script>


