{% block body %}
    <html>
    <body>
    <form method="get" name="myform" id="myform" action="{{ path('canvas') }}">
        <div style="flex-direction: column; display: flex; justify-content: center; padding-top: 25%">
            <div style="flex-direction: row; display: flex; justify-content: center;">
                <div style="flex-direction: column; display: flex; justify-content: center; padding: 10px">
                    <input type="checkbox" value="PHP" name="PHP">
                    <p>PHP</p>
                </div>
                <div style="flex-direction: column; display: flex; justify-content: center; padding: 10px">
                    <input type="checkbox" value="Java" name="Java">
                    <p>Java</p>
                </div>
                <div style="flex-direction: column; display: flex; justify-content: center; padding: 10px">
                    <input type="checkbox" value="JavaScript" name="JavaScript">
                    <p>JavaScript</p>
                </div>
                <div style="flex-direction: column; display: flex; justify-content: center; padding: 10px">
                    <input type="checkbox" value="IOS" name="IOS">
                    <p>IOS</p>
                </div>
                <div style="flex-direction: column; display: flex; justify-content: center; padding: 10px">
                    <input type="checkbox" value="Python" name="Python">
                    <p>Python</p>
                </div>
                <div style="flex-direction: column; display: flex; justify-content: center; padding: 10px">
                    <input type="checkbox" value="Android" name="Android">
                    <p>Android</p>
                </div>
                <div style="flex-direction: column; display: flex; justify-content: center; padding: 10px">
                    <input type="checkbox" value="Game Developer" name="GameDeveloper">
                    <p>Game Developer</p>
                </div>
                <div style="flex-direction: column; display: flex; justify-content: center; padding: 10px">
                    <input type="checkbox" value="Oracle" name="Oracle">
                    <p>Oracle</p>
                </div>
                <div style="flex-direction: column; display: flex; justify-content: center; padding: 10px">
                    <input type="checkbox" value="CEO" name="CEO">
                    <p>CEO</p>
                </div>
                <div style="flex-direction: column; display: flex; justify-content: center; padding: 10px">
                    <input type="checkbox" value="Аналитик" name="Аналитик">
                    <p>Аналитик</p>
                </div>
            </div>
            <div style="flex-direction: column; display: flex; justify-content: center;">
                <input type="text" name="jobs" id="jobs" placeholder="Назва вакансій через кому без пробілів">
            </div>
            <div style="flex-direction: row; display: flex; justify-content: center;">
                <button type="submit"> Количество вакансий</button>
            </div>
        </div>
    </form>
    <div style="flex-direction: row; display: flex; justify-content: center;">
    <button onclick="window.location.href='http://127.0.0.1:8000/table'"> Table </button>
    </div>
    </body>
    </html>

{% endblock %}
