{% block head %}
    <style type="text/css">
        TABLE {
            width: 500px; /* Ширина таблицы */
            border-collapse: collapse;
        }

        TD, TH {
            padding: 1px;
            border: 1px solid grey;
        }

        TH {
            background: white;
        }
    </style>

    {% block body %}
        <table style="float: left">
            <tr>
                <th>Мови програмування</th>
                <th>Мін Зарплата</th>
                <th>Макс Зарплата</th>
                <th>Серендя Зарплата</th>
            </tr>
            <tr>
                <th>Java</th>
                <th>500$</th>
                <th>5000$</th>
                <th>1600$</th>
            </tr>
            <tr>
                <th>PHP</th>
                <th>300$</th>
                <th>4000$</th>
                <th>1500$</th>
            </tr>
            <tr>
                <th>C#</th>
                <th>300$</th>
                <th>5000$</th>
                <th>1000$</th>
            </tr>
            <tr>
                <th>Python</th>
                <th>400$</th>
                <th>4000$</th>
                <th>1200$</th>
            </tr>
            <tr>
                <th>Ruby on Rails</th>
                <th>420$</th>
                <th>2,800$</th>
                <th>1300$</th>
            </tr>
            <tr>
                <th>1C</th>
                <th>300$</th>
                <th>2500$</th>
                <th>1400$</th>
            </tr>
            <tr>
                <th>C++</th>
                <th>500$</th>
                <th>3900$</th>
                <th>1800$</th>
            </tr>
            <tr>
                <th>.NET</th>
                <th>300$</th>
                <th>2500$</th>
                <th>1200$</th>
            </tr>
            <tr>
                <th>SWIFT</th>
                <th>400$</th>
                <th>3000$</th>
                <th>1500$</th>
            </tr>
            <tr>
                <th>R</th>
                <th>400$</th>
                <th>3500$</th>
                <th>1400$</th>
            </tr>
            <tr>
                <th>Angular</th>
                <th>500$</th>
                <th>5000$</th>
                <th>1600$</th>
            </tr>
            <tr>
                <th>SQL</th>
                <th>200$</th>
                <th>2500$</th>
                <th>900$</th>
            </tr>
        </table>

        <table style="float:right">
            <tr>
                <th>Назва вакансій</th>
                <th>Mін Зарплата</th>
                <th>Maкс Зарплата</th>
                <th>Середня Зарплата</th>
            </tr>
            <tr>
                <th>Java Developer Senior</th>
                <th>2000$</th>
                <th>6000$</th>
                <th>3500$</th>
            </tr>
            <tr>
                <th>PHP Developer Symfony Mid</th>
                <th>1500$</th>
                <th>3000$</th>
                <th>2000$</th>
            </tr>
            <tr>
                <th>Ситсемний аналітик</th>
                <th>300$</th>
                <th>3000$</th>
                <th>900$</th>
            </tr>
            <tr>
                <th>Database Developer</th>
                <th>400$</th>
                <th>2000$</th>
                <th>800$</th>
            </tr>
            <tr>
                <th>Angular Front-End Developer</th>
                <th>300$</th>
                <th>3000$</th>
                <th>1200$</th>
            </tr>
            <tr>
                <th>Swift IOS Developer</th>
                <th>400$</th>
                <th>3000$</th>
                <th>1500$</th>
            </tr>
            <tr>
                <th>Java Back-End Developer Middle</th>
                <th>1200$</th>
                <th>2500$</th>
                <th>1500$</th>
            </tr>
            <tr>
                <th>1C Developer Bitrix</th>
                <th>200$</th>
                <th>800$</th>
                <th>400$</th>
            </tr>
            <tr>
                <th>Android Developer</th>
                <th>300$</th>
                <th>2500$</th>
                <th>900$</th>
            </tr>
            <tr>
                <th>QA engineer</th>
                <th>300$</th>
                <th>1500$</th>
                <th>900$</th>
            </tr>
        </table>
    {% endblock %}

{% endblock %}